# Project exclude paths
/.gradle/
/innerClassesAndLambdas/task1/build/
/innerClassesAndLambdas/task2/build/
/innerClassesAndLambdas/task2/out/
/innerClassesAndLambdas/task2/out/production/classes/
/innerClassesAndLambdas/task3/build/
/innerClassesAndLambdas/task4/build/
/innerClassesAndLambdas/task4/out/
/innerClassesAndLambdas/task4/out/production/classes/
/innerClassesAndLambdas/task5/build/